<div class="user-info-container">
  <h2>Informazioni utente</h2>
  <form [formGroup]="userInfoForm" (ngSubmit)="onSubmit()">
    <div class="form-section">
      <label>Cognome</label>
      <input type="text" formControlName="lastName" required />
    </div>
    <div class="form-section">
      <label>Nome</label>
      <input type="text" formControlName="firstName" required />
    </div>
    <div class="form-section">
      <label>Telefono</label>
      <input type="tel" formControlName="phone" />
    </div>
    <hr>
    <div formGroupName="address">
      <h2>Indirizzo di spedizione</h2>
      <div class="form-row">
        <div class="form-section">
          <label for="street">Indirizzo</label>
          <input id="street" type="text" formControlName="street" required />
        </div>
        <div class="form-section">
          <label for="number">Numero civico</label>
          <input id="number" type="text" formControlName="number" required />
        </div>
      </div>
      <div class="form-section">
        <label>Città</label>
        <input type="text" formControlName="city" required />
      </div>
      <div class="form-section">
        <label>CAP</label>
        <input type="text" formControlName="zip" required />
      </div>
      <div class="form-section">
        <label>Provincia</label>
        <input type="text" formControlName="province" required />
      </div>
    </div>
    <button type="submit" [disabled]="userInfoForm.invalid">Salva informazioni</button>
  </form>
  <pre>{{ userInfoForm.status }}</pre>
</div>
